[Unit]
Description=Create USB gadgets

[Service]
Type=oneshot
ExecStart=/boot/create-usb-gadgets
StandardInput=tty
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
